<h2>{{categoria.nome}}</h2>
<br>
{{#each postagens}}
<div class="card">
    <div class="card-body">   
        <a class="text-body" href="/postagem/{{slug}}"><h4>{{titulo}}</h4></a>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais: </button></a>
        <hr>
        <small>Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}